*
{
    border-radius: 5px;
    border: none;
}

window
{
    font-size: 16px;
    font-family: 'Roboto Slab';
    background-color: #460029;
    color: #eff1f5;
}

#entry
{
    padding: 0.3em;
}

#entry:selected
{
    background-color: #811740;
}

#input
{
    background-color: #57113a;
    color: #eff1f5;
    padding: 0.3em;
}